[submodule "drivers/ssd1289"]
	path = drivers/ssd1289
	url = https://github.com/CanadianCommander/armboy_SSD1289lcdDriver.git
[submodule "drivers/ArmboyInputDriver"]
	path = drivers/ArmboyInputDriver
	url = https://github.com/CanadianCommander/ArmboyInputDriver.git
[submodule "drivers/armboy-fs"]
	path = drivers/armboy-fs
	url = https://github.com/CanadianCommander/armboy-fs.git
